APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:SbAUUUxjYyxYouYxhZTZc8jWQgvw1neWtPEojHaTNxY=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=http://localhost/
ASSET_URL=http://localhost

# Kết nối database chính
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=inanviet_client
DB_USERNAME=admin
DB_PASSWORD=inan555vV~

# Kết nối database thứ hai
DB_CONNECTION_SECOND=mysql2
DB_HOST_SECOND=mysql2
DB_PORT_SECOND=3306
DB_DATABASE_SECOND=admininanviet_inan_viet
DB_USERNAME_SECOND=admininanviet_inan_viet
DB_PASSWORD_SECOND=zo-h@^sxCbpiOl7y

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
